const ONE_SECOND_IN_MILLIS = 1000
const TEN_SECONDS_IN_MILLIS = ONE_SECOND_IN_MILLIS * 10

const getConfig = () => {
  return {
    interval: process.env.INTERVAL || TEN_SECONDS_IN_MILLIS,
    vipUrl: process.env.VIP_URL || 'https://vip.bitcoin.co.id',
    vipApiKey: process.env.VIP_API_KEY || 'NOT_SET',
    vipApiSecret: process.env.VIP_API_SECRET || 'NOT_SET',
    mongoHost: '127.0.0.1',
    mongoPort: 27017,
    mongoDb: 'xlmbtc',
  }
}

export default getConfig()
